body {
    margin: auto;
    width: 50%;
    border: 3px;
    padding: 10px;
}

button {
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
}

label {
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
}

h1 {
    font-family: sans-serif;
}

option{
    font-family: sans-serif;
    font-size: 20px;
}

input{
    font-size: 1rem;
    padding: 0.5rem;
}