body {
    margin: auto;
    width: 50%;
    border: 3px;
    padding: 10px;
}

button {
    font-size: 10px;
    text-align: center;
    font-family: sans-serif;
}

label {
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
}